.treeContainer {
  position: absolute;
  top: 100px;
  left: 20%;

  transform: rotate(90deg) translateY(-20%);
  min-width: 400px;
  min-height: 400px;
  //   overflow: auto;
}
.node {
  transform: rotate(180deg);
}
