.box__tree {
  position: relative;
  width: 120px;
  height: 30px;

  stroke-width: 0.5px;
  font-weight: lighter;

  fill: rgb(248, 241, 232);
}

.rootNode {
  fill: rgb(235, 230, 230);
}

.firstRow {
  fill: #ffac80;
  stroke: #fff;
}

.secondRow {
  fill: deepskyblue;
  stroke: #fff;
}

.box__tree__text {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.inputTrim {
  font-weight: normal;
  background: none;
  border: none;
  width: 100px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
  &:focus {
    border: none;
    outline: none;
  }
}
.box__tree__text {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box__tree__btn {
  display: flex;
  align-items: center;
  gap: 2px;
}
.box__btn {
  cursor: pointer;
  padding: 2px;
  background-color: rgb(224, 220, 220);
  border-radius: 50%;
  font-size: 20px;
  color: #fff;

  &:hover {
    background-color: #6c9fff;
  }
}
.box__btn__close {
  background-color: red;
}
.box__btn__check__close {
  background: rgba(226, 226, 2, 0.837);
}
.box__btn__check {
  background: rgb(1, 163, 1);
}
